<% @places.each do |place| %>
    <div class="booyah-box col-10 offset-1">
        <h1><%= place.name %></h1>
        <i><%= place.address %></i><br /><br />
        <p><%= place.description %></p><br />
        
        <% if place.user.present? %>
            <small><%= place.user.email %></small>
        <% end %>
    </div>
<% end %>

<div class="col-10 offset-1 text-center">
    <%= paginate @places %>
</div>
